.large-item {
    height: 120px;
    width: 120px;
    background-color: #F4F4F4;
    margin: 10px;
    border: 1px solid #F5F3;
    border-radius: 5px;
    cursor: pointer;
}

.large-item:hover, .large-item-body:hover, .large-item-header:hover, .large-item-footer:hover {
    background-color: #F5F3;
}

.large-item-header, .large-item-footer {
    height: 25px;
}

.large-item-header {
    border-bottom: 1px solid #F5F3;
}

.large-item-footer {
    border-top: 1px solid #F5F3;
}

.large-item-body {
    height: 70px;
    background-color: #FAFAFA;
}

.icon-close-file {
    cursor: pointer;
    background-color: #F5F3;
    float: right;
    padding: 2px;
    border-radius: 2px
}

.icon-close-file:hover {
    background-color: #ff5565cc;
}

.icon-close-file:active {
    background-color: #ff5565cc;
}

.icon-body {
    margin-top: 7px;
    font-size: 4em;
    color: #3372A7;
}