.scroll-table {
    position: relative;
    overflow: auto;
    max-height: 80vh
}

.scroll-table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll-table::-webkit-scrollbar-track {
    background: #fff ;
}

.scroll-table::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.scroll-table::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.background-table-header{
    background-color: rgb(189, 201, 209) !important; 
    color: black
}

/* Airline style */
.ant-table-thead > tr > th, 
.ant-table-tbody > tr > td {
    text-align: center !important;
}

.image_logo {
    width: 60px;
    margin: auto;
}

.image_flag {
    width: 40px;
    margin: auto;
}

.image_logo img,
.image_flag img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.app .app-main-container > div:nth-child(2) > div:first-child {
    z-index: 0 !important;
}

.rbc-row-segment .rbc-event-content {
    white-space: initial !important;
}