<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>yobuma</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Yobuma sử dụng mạng bluetooth của bạn để chia sẻ thông tin</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Yobuma sử dụng calendar của bạn để thiết lập lịch</string>
	<key>NSCameraUsageDescription</key>
	<string>Yobuma sử dụng camera của bạn để đăng ảnh vào hồ sơ cá nhân</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Yobuma sử dụng tọa độ của bạn để xác định nội dung hiển thị phù hợp với bạn</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Yobuma sử dụng tọa độ của bạn để xác định nội dung hiển thị phù hợp với bạn</string>
	<key>NSLocationUsageDescription</key>
	<string>Yobuma sử dụng tọa độ của bạn để xác định nội dung hiển thị phù hợp với bạn</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yobuma sử dụng tọa độ của bạn để xác định nội dung hiển thị phù hợp với bạn</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Yobuma sử dụng gallery của bạn để đăng ảnh vào hồ sơ cá nhân</string>
	
	<key>UIAppFonts</key>
	<array>
		<string>GreatVibes-Regular.otf</string>
		<string>FontAwesome5_Pro_Brands.ttf</string>
		<string>FontAwesome5_Pro_Light.ttf</string>
		<string>FontAwesome5_Pro_Regular.ttf</string>
		<string>FontAwesome5_Pro_Solid.ttf</string>
		<string>HarmoniaSansProCyr-Regular.otf</string>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica-BoldOblique.ttf</string>
		<string>helvetica-compressed-5871d14b6903a.otf</string>
		<string>helvetica-light-587ebe5a59211.ttf</string>
		<string>Helvetica-Oblique.ttf</string>
		<string>helvetica-rounded-bold-5871d05ead8de.otf</string>
		<string>Helvetica.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>

	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
